
/*big menu*/

#kwick {
	position: relative;
	/*border-bottom: 3px double #333;*/
	margin-top: 10px;
}

#kwick .kwicks {
	display: block;
	height: 292px;
	margin: 0px;
}

#kwick li {
	float: left;
}

#kwick .kwick {
	display: block;
	cursor: pointer;
	overflow: hidden;
	height: 292px;
	width: 131px;
	/*padding: 10px;*/
	background: #fff;
	/*border-right: 5px solid #202020;*/
	border-right: 2px solid #fff;
}

#kwick .kwick span {
	display: none;
}

