body {
	margin: 0px;
	padding: 0px;
	/*font: 11px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	color: #14178B;
	text-align: center;
	border:0;
}



/*redefine*/

::-moz-selection {
	background: #000;
	color: #eee;
}

::selection {
	background: #000;
	color: #eee;
}

p,ul {
	margin: 0;
	padding: 0px;
	font-weight: normal;
	list-style: none;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 3px;
	font-size: 14px;
	font-weight: block;
	list-style: none;
	color: #14178C;
}



#fondo {
position: absolute;
top:0;
left:0;
}

/*shared*/

span.clr {
	display: block;
	clear: both;
}


/*content*/

#container {
	position: relative;
	/*z-index: 1000;*/
	width: 800px;
	padding: 0px 0px 0 0;
	/*border-right: 1px solid #1c1c1c;*/
	//background: #fff;
	margin: auto;
	text-align: left;
}

.title {
	width: 800px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.thumbnailContainer {
	width: 800px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	display: none;
	height: 0px;
	overflow: hidden;
}

.thumbnailContainer .clipper {
	margin: 10px 0 0 0;
	text-align: justify;
}

.thumbnailContainer .horizontal {
	border: 1px solid #ccc;
	width: 110px;
	height: 100px;
	padding: 20px 0 0 10px;
	margin: 5px;
	float: left;
	cursor: pointer;
}

.thumbnailContainer .vertical {
	border: 1px solid #ccc;
	width: 93px;
	height: 110px;
	padding: 10px 0 0 27px;
	margin: 5px;
	float: left;
	cursor: pointer;
}

.thumbnailContainer img {
	/*border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 5px 4px;*/
}

#footer {
	width: 800px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px 0px;
	text-align: right;
}

a {
	color: #14178B;
	text-decoration: none;
}

a:hover {
	color: #14178B;
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

#images {
	display: none;
}