.tit	{font-family:Verdana,Arial;font-weight:bold;font-size:20px;text-decoration:underline;text-transform:uppercase;color:#000000}
.subtit	 {font-family:Verdana,Arial;font-weight:bold;font-size:16px;color:#fb9a01}
li {font-family:Verdana,Arial;font-size:12px;color:#666666}
.list	{font-family:Verdana,Arial;font-size:12px;text-decoration:underline}
.enc 	{font-family:Verdana,Arial;font-weight:bold;font-size:14px;color:#fb9a01}
div {font-family:Verdana,Arial;font-size:12px;text-align:justify;color:#666666}

h3	{font-family:Verdana,Arial;font-weight:bold;font-size:20px;text-decoration:underline;color:#000000}
h4	{font-family:Verdana,Arial;font-weight:bold;font-size:16px;color:#fb9a01}
u {font-family:Verdana,Arial;font-weight:bold;font-size:14px;color:#b06c02}
textarea {font.family:verdana;font-weight:bold}
input {font-family:verdana;font-weight:bold}
form {background:bdccf9;color:white;font-family:verdana}
span {font-family:Verdana,Arial;font-weight:bold;font-size:12px}
td {font-family:Verdana,Arial;font-weight:bold;font-size:10}